= simple_form_for([@photo_set, @photo]) do |f|
  = f.error_notification

  %fieldset
    = f.input :name, :required => true
    = f.input :description, :required => true
    = f.input :image, :required => true, :as => :image_preview, :input_html => { :preview_version => :tiny }

    .form-actions
      = f.button :submit, :class => 'btn-primary btn-large'
