.container
  .content
    .row
      .span12= alert_message_for(flash)

    .page-header
      %h1
        Photo
        %small Edit

    %h2= @photo.name

    .row
      .span12
        = render 'form'

    .row
      .span12
        = link_to 'Show', photo_set_photo_path(@photo_set, @photo), :class => 'btn'
        = link_to 'Back', photo_set_photos_path(@photo_set)
