.container
  .content
    .row
      .span12= alert_message_for(flash)

    .page-header
      %h1
        Photos
        %small View a single photo

    %h2 Choose a photo

    .row
      .span12
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Name
              %th Description
              %th Image
              - if user_signed_in? && current_user.admin?
                %th
          %tbody
            - @photos.each do |photo|
              %tr
                %td= photo.name
                %td= photo.description
                %td= photo.image
                - if user_signed_in? && current_user.admin?
                  %td
                    = link_to 'Show', photo
                    = link_to 'Edit', edit_photo_path(photo)
                    = link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete

    .row
      .span12
        %p
          - if user_signed_in? && current_user.admin?
            = link_to 'New photo', new_photo_path, :class => 'btn btn-primary'
          = link_to 'Back', root_path
