.container
  .content
    .row
      .span12= alert_message_for(flash)

    .page-header
      %h1
        = @photo.name
        %small= @photo_set.name

    %h2= @photo.description

    .row
      .span12
        = image_tag(@photo.image.url, :alt => @photo.name, :class => 'thumbnail')
    .row
      .span12
        %p
          - if user_signed_in? && current_user.admin?
            = link_to 'Edit', edit_photo_set_photo_path(@photo_set, @photo), :class => 'btn btn-primary'
          = link_to 'Back', photo_set_photos_path(@photo_set)
