.container
  .content
    .row
      .span12= alert_message_for(flash)

    .page-header
      %h1
        = @photo_set.name
        %small Photo set

    %h2= @photo_set.description

    .row
      .span12
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th
              %th Name
          %tbody
            - @photo_set.photos.each do |photo|
              %tr
                %td= link_to image_tag(photo.image.thumbnail.url, :alt => photo.name, :class => 'thumbnail'), photo
                %td= link_to photo.name, photo

    .row
      .span12
        %p
          - if user_signed_in? && current_user.admin?
            = link_to 'Edit', edit_photo_set_path(@photo_set), :class => 'btn btn-primary'
          = link_to 'Back', photo_sets_path
