.container
  .content
    .row
      .span12= alert_message_for(flash)

    .page-header
      %h1
        = @photo_set.name
        %small Photo Set

    %h2= @photo_set.description

    .row
      .span12
        - if @photo_set.photos.blank?
          There are no Photos for this Photo Set yet.
        - else
          %ul.thumbnails
            - @photo_set.photos.each do |photo|
              %li.span3
                .thumbnail
                  = link_to image_tag(photo.image.thumbnail.url, :alt => photo.name), [@photo_set, photo], :class => 'with_image'
                  .caption
                    %h5= link_to photo.name, [@photo_set, photo]
                    %p= photo.description

    .row
      .span12
        %p
          - if user_signed_in? && current_user.admin?
            = link_to 'Edit', edit_photo_set_path(@photo_set), :class => 'btn btn-primary'
          = link_to 'Back', photo_sets_path
